<div class="app-container">
	<div class="container">
		<img
			class="logo"
			src="../assets/logo-convem.svg"
			alt="logo com cesta de compras"
		/>

		<h1 class="title">{{ titulo }}</h1>
		<label class="answer" for="answer">Sua resposta:</label>
		<input
			type="text"
			id="answer"
			placeholder="sim"
			[(ngModel)]="resposta"
			class="input"
		/>
		<button class="btn" (click)="enviarResposta()">Confirmar</button>
		<p class="message" *ngIf="mensagem">{{ mensagem }}</p>
		<footer class="footer">
			<p>Desenvolvido por Andressa Da Costa</p>
			<a
				href="https://github.com/AndressaDaCosta/"
				target="_blank"
				title="github-link"
				rel="noopener"
			>
				<i class="fa-brands fa-github fa-xl"></i>
			</a>
			<a
				href="https://www.linkedin.com/in/andressa-da-costa"
				target="_blank"
				title="linkedin-link"
				rel="noopener"
			>
				<i class="fa-brands fa-linkedin fa-xl"></i>
			</a>
			<a
				href="mailto:andressadacostan@gmail.com"
				target="_blank"
				title="email"
				rel="noopener"
			>
				<i class="fa-solid fa-envelope fa-xl"></i>
			</a>
		</footer>
	</div>
</div>
