:root {
	--white: #f1f1f1;
	--black: #000000;
	--purple: #7f3d98;
	--light-green: #60c7cf;
	--text: #3d404d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:focus {
	outline: none;
	box-shadow: 0 0 0 2px #7f3d98 inset;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body,
input,
button {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.app-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #fffafa;
}

.container {
	width: 100%;
	max-width: 600px;
	margin: auto auto;
	padding: 2rem;
	text-align: center;
	background-color: #fffafa;

	border-radius: 8px;
	box-shadow: 2px 2px 4px #7f3d98;
}

.logo {
	background-color: #7f3d98;
	padding: 0.25rem;
	border-radius: 6px;
	width: 5rem;
	height: auto;
}
.title {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 1.5rem;
}

.label {
	font-size: 1.25rem;
	display: block;
	margin-top: 1.5rem;
}

.input {
	width: 50%;
	padding: 0.5rem;
	margin-top: 0.5rem;
	border: 1px solid #7f3d98;
	border-radius: 4px;
}
.input::placeholder {
	color: #7f3d98;
}

.button {
	background-color: #60c7cf;
	color: #7f3d98;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 6px;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 1rem;
	cursor: pointer;
	margin-left: 0.5rem;
	box-shadow: 0 0 0 2px #7f3d98;
	transition: background-color 0.3s, transform 0.3s;
}

.button:active {
	outline: none;
	blur: 0.5rem;
	transform: scale(0.95);
}

.message {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	background-color: #60c7cf;
	color: #7f3d98;
	width: 100%;
	padding: 0.25rem;
	border-radius: 6px;
}

.footer {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.footer p {
	font-size: 1.2rem;
	color: #000;
	margin: auto;
}

.footer a {
	color: #7f3d98;
	margin-right: 0.5rem;
}

.footer img {
	width: 2rem;
	height: 2rem;
	outline: none;
}

.footer img:hover {
	transform: scale(0.95);
}
